/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */
@import "bootstrap";
@import "font-awesome";
$main_color : #AAD6EC;

.header{
	background-color: $main_color;
	justify-content: space-between;
	a{
		color:#fff;
	}
}
.pc_frame{
	padding-top: 10vh;
	min-width: 500px;
	margin: 0 auto;
	max-width: 700px;
	h1{
		font-size: 1.8em;
	} 

}

	
@media (max-width:990px) {
	.header{
		height: 7vh;
		font-size: 1.6rem;
		a{
		font-size: 2.3rem;

		}
	}
	.pc_frame{
		width: 85%;
		max-width: 85%;
		height: 100vh;
		label{
		font-size: 1.8rem;

		}

	}

	
}