// Place all the styles related to the cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$main_color : #AAD6EC;
$sub_color :#EB8686;
.card-group{
	width: 100%;
	display: flex;
	margin: 20px 0px;
	justify-content: space-between;
	.delete_btn{
		i{
		font-size: 2.8em;
		color: #333;
		line-height:80px;
		}
	}
	.title{
		border:solid 5px $main_color;
		width: 85%;
		font-size: 1.2rem;
		text-align: center;
		line-height: 50px;
		height:50px;
		font-weight: bold;
		margin-left: 5%;
	}
}
.list{
	min-height: 50vh;
	padding:30px 0; 
}

.submit_btn{
	margin: 40px 0;
	input{
	color:#fff;
	width: 100%;
	height:137px;
	border:solid 0px;
	font-size: 2.9rem;
	font-weight:bold;
	}
}
.add{
	input{
	background-color: $main_color;
	}
}

.complete{
	input{
	background-color: $sub_color;
	}
}
#card_title{
	font-size: 3rem;
}
	
@media (max-width:990px) {

	.card-group{

		.title{
			height: 144px;
			line-height:128px;
			font-size: 3.5em;

		}
		.delete_btn{
				font-size:1.3em;
			i{
				padding-left:20px;
				line-height:128px;

			}
		}
	}
}