// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$main_color : #2E2E2E ;
$sub_color :#FF9800  ;

#welcome{
	width: 85%;
	margin: 21vh auto;
	text-align: center;
	.pc_frame{
		padding-top: 10vh;
	}
	.description{
		margin-top:-92px;
		height: 43vh;
		h2{
		 font-size: 5em;
		 font-weight: bold;
		 margin-bottom: 3vh;

		}
		p{
			font-size:1.4rem;
		}
	}

	.btn-like{
		 font-size: 4.5em;
		 padding: 15px 20px;
		 background-color: $sub_color;
		 color: #fff;
		 width:67%;
		 max-width: 541px;
		 height: 16vh;
		 min-height: 187px;
		 line-height: 13vh;
		 display: inline-block;
		 padding: 0.5em 1em;
		 text-decoration: none;
		 color: #FFF;
		 border-bottom: solid 10px #e08600;
		 border-radius: 3px;
	}
}


.btn-like:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  border-bottom: none;
}


