// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$main_color : #AAD6EC;
$sub_color :#EB8686;
#welcome{
	width: 85%;
	margin: 21vh auto;
	text-align: center;
	.pc_frame{
		padding-top: 10vh;
	}
	.description{
		height: 38vh;
		h2{
		 font-size: 5em;
		 font-weight: bold;
		 margin-bottom: 3vh;
		}
		p{
			font-size:1.4rem;
		}
	}

	.btn-like{
		 font-size: 4.5em;
		 padding: 15px 20px;
		 background-color: $sub_color;
		 color: #fff;
		 width:67%;
		 height: 16vh;
		 line-height: 13vh;
		 display: inline-block;
		 padding: 0.5em 1em;
		 text-decoration: none;
		 color: #FFF;
		 border-bottom: solid 10px #bc5f5e;
		 border-radius: 3px;
	}
}


.btn-like:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}