h1 show
h1 <%= @image_name %>

img src='https://likeitlist.herokuapp.com/public/images/<%= @image_name %>.png'
img src="https://likeitlist.herokuapp.com/public/images/#{@image_name }.png"
img src="https://likeitlist.herokuapp.com/public/images/#{<%= @image_name %>.png"

